@import url(reset.css);

body{
	background: #000000;
}

a{
	font: 20px/1.6 Arial, Verdana, Tahoma, sans-serif;
	text-decoration:none;
	text-transform: uppercase;
}

h3{
	font: 12px/1.6 Arial, Verdana, Tahoma, sans-serif;
	color: #494848;
	font-style: italic;
}

h2{
	text-align: center;
}

/* ШАПКА */
#shapkafon{
	height: 100px;
	background-color: #000000;
	overflow: hidden;
}

#shapka{
	min-width: 960 px;
    max-width: 700px;
	height:100px;
    margin: 0 auto;
    overflow: hidden;
}

#logo{
	width: 220px;
	height: 57px;
	float: left;
    margin-top: 20px;
    margin-left: 15px
}

#socseti{
	width: 140px;
	float: right;
	margin-top: 27px;
}

#socseti ul li{
	float: left;
	margin-right: 3px;
	position: relative;
}

#socseti img{
	max-width: 100%;
	display: block;
}

.descr{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	opacity: 0;
	-webkit-transition: all .5s;
	-0-transition: all. 5s;
	transition: all .5s;
}

#socseti ul li:hover .descr{
	opacity: 1;
}

/* ТЕЛО */

#telofon{
	height: 265px;
	background: url(../images/telofon.jpg);
	overflow: hidden;
}

#telo{
	min-width: 960 px;
    max-width: 700px;
	height:265px;
    margin: 0 auto;
    overflow: hidden;
}

.lin1{
	width: 700px;
	height: 1px;
	float: center;
	background: url(../images/lin1.png) no-repeat;
	margin-left: 24px;
	margin-top: 8px;
}

.lin2 {
	width: 700px;
	height: 1px;
	float: center;
	background: url(../images/lin1.png) no-repeat;
	margin-left: 24px;
	margin-bottom: 10px;
}

#ssilki {
	width: 180px;
	height: 237px;
	overflow: hidden;
	margin-top: 10px;
	margin-left: 90px;
}



.ssilka a{
	width: 180px;
	height: 35px;
	background: #000000;
	color: #fdfcfc;
	display: block;
	font: center;
	margin-bottom: 25px;
	padding-top: 3px;
	}

.ssilka a:hover{
	color: #212121;
	-webkit-transition: all .5s;
	-0-transition: all. 5s;
	transition: all .5s;
}	

#avtor{
	float: right;
	margin-top: 10px;
	margin-right: 70px;
}

/* ПОДВАЛ */

#podvalfon{
	height: 70px;
	background-color: #000000;
	overflow: hidden;
}

#podval{
	min-width: 960 px;
    max-width: 700px;
	height:70px;
    margin: 0 auto;
    overflow: hidden;
}

#podval h3{
	padding-left:275px;
	padding-top: 5px;
	width: 151px;
}

#flagi{
	width: 60px;
	float: center;
	margin-top: 2px;
	padding-left: 321px;
	overflow: hidden;
}

#flagi ul li{
	float: left;
	margin-right: 5px;
	position: relative;
}

#flagi img{
	max-width: 100%;
	display: block;
}

#flagi ul li:hover .descr{
	opacity: 1;
}

#ssilki2{
    overflow: hidden;
    height: 18px;
    width: 264px;
	margin-left: 219px;
	margin-top: 2px;
}

#ssilki2 ul li{
	float: left;
	padding-left: 4px;
	padding-right: 4px;
	border-left: 2px solid #494848;
}

#ssilki2 ul li:first-child{
	border: none;
}

#ssilki2 a {
	color: #494848;
	font: 12px/1.6 Arial, Verdana, Tahoma, sans-serif;
}

/* ГАЛЕРЕЯ */

#foto{
	width: 700px;
	height: 237px;
	margin-left: 10px;
	margin-top: 10px;
}

#foto img{
	margin: 5px;
	border: 3px solid #000000;
}

#foto img:hover{
	border: 3px solid #9d9d9d;
	-webkit-transition: all .5s;
	-0-transition: all. 5s;
	transition: all .5s;
}	
	